<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--[if lt IE 9]> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
<title>Free-Portfolio-HTML5-Responsive-Website-Sam</title>
<meta name="description" content="">
<meta name="author" content="WebThemez">
<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!--[if lte IE 8]>
		<script type="text/javascript" src="http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"></script>
	<![endif]-->
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
<link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/da-slider.css" />
<link rel="stylesheet" href="css/styles.css" />
<!-- Font Awesome -->
<link href="css/font-awesome.min.css" rel="stylesheet">
</head>

<header class="header">
  <div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
      <!--/.navbar-header-->
      <div id="main-nav" class="collapse navbar-collapse">
        <ul class="nav navbar-nav" id="mainNav">
          <li class="active"><a href="./index.html" class="scroll-link">Home</a></li>
          <li><a href="./about.html" class="scroll-link">About Me</a></li>
          <li><a href="./research.html" class="scroll-link">Research</a></li>
        </ul>
      </div>
      <!--/.navbar-collapse--> 
    </nav>
    <!--/.navbar--> 
  </div>
  <!--/.container--> 
</header>
<!--/.header-->
<div id="#top"></div>
<section id="home">
  <div class="banner-container"> <img src="images/banner-bg.jpg" alt="banner" />
    <div class="container banner-content"> 
            <div class="row">
                <header class="centered">
                    <h1>Breanna E. Green</h1>
                    <p>PhD Student @ Cornell</p>
                </header>
                <div class="social-icons">
                        <a href="https://www.twitter.com/breannaegreen"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/mwlite/in/breanna-green-71361538"><i class="fa fa-linkedin-square"></i></a>
                                    
                </div>
                <a href="#" class="hireMe">Hire Me</a>
            </div> 
  </div>
</section>
<section id="introText">
  <div class="container">
    <div>
      <h1>Making template changes</h1>
      <p>Changes.</p>
    </div>
  </div>
</section>
<!--About-->
<section id="aboutUs">
  <div class="container">
    <div class="row"> 
      <!-- item -->
      <div class="col-md-4 tileBox"> <img src="images/photo-1.jpg" alt="me"/> </div>
      <div class="col-md-8 tileBox">
        <div class="txtHead">
          <h2>Hello, I am Breanna Green...</h2>
          <h3> PhD Student Based in New York, US.</h3>
        </div>
        <p>I am an [Information Science]<a href="http://infosci.cornell.edu/"> PhD student at [Cornell University]<a href="http://cornell.edu/">(https://www.cornell.edu/) advised by [Drew Margolin](https://www.communication.cals.cornell.edu/people/drew-margolin/).
	      </br>
I'm interested in the ways in which both activist and extremist identites and ideologies are built and maintained using various social media platforms. 
</br>
Before arriving to Cornell, I earned both my B.S. and M.S. in Psychology from [Prairie View A&M University](https://www.pvamu.edu/cojjp/departments/psychology/) and the [University of Texas at San Antonio](https://hcap.utsa.edu/psychology/), respectively. 
</br>
After UTSA, I spent a few years working as a Research Analyst in the Institutional Research department of a large community college in Texas. </p>
      </div>
      <!-- end: --> 
    </div>
  </div>
</section>
<!--Quote-->
<section id="quote" class="bg-parlex">
  <div class="parlex-back">
    <div class="container">
     <div class="row">
	<div class="col-md-12">      <h2>“Dreams are extremely important. You can’t do it unless you imagine it.” <span>-George Lucas</span></h2></div>
      </div>
    </div>
    <!--/.container--> 
  </div>
</section>

<!--Skills-->
<section id="skills" class="secPad white">
  <div class="container">
    <div class="heading "> 
      <!-- Heading -->
      <h2>My Research</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum erat et neque tincidunt volutpat. Cras eget augue id dui varius pretium. Cras posuere dolor risus. Pellentesque elementum ultricies quam, sit amet rhoncus nisl viverra in. Cras imperdiet nisi a euismod molestie. Ut a metus arcu. Pellentesque feugiat dictum erat. </p>
    </div>
    <div class="row skillContainer">
      <div class="col-md-4 skillBox">
        <div id="diagram-id-1" class="diagram" data-percent="95.2%"></div>
        <div class="chart-text">
          <h4>Visual Designing</h4>
          <p>Exp 4 years</p>
        </div>
      </div>
      <div class="col-md-4 skillBox">
        <div id="diagram-id-2" class="diagram" data-percent="75.2%"></div>
        <div class="chart-text">
          <h4>Frontend Developer</h4>
          <p>Exp 8 years</p>
        </div>
      </div>
      <div class="col-md-4 skillBox">
        <div id="diagram-id-3" class="diagram" data-percent="85.6%"></div>
        <div class="chart-text">
          <h4>Backend Developer</h4>
          <p>Exp 5 years</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h2>Programming Skills</h2>
        <p class="mrgBtm20"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
      </div>
      <div class="col-sm-6"> <br/>
        <br/>
        <br/>
        <div class="row">
          <div class="col-md-2 skilltitle"><b>HTML5</b></div>
          <div class="col-md-10">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"> <span class="sr-only">90% Complete</span> </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 skilltitle"><b>JavaScript</b></div>
          <div class="col-md-10">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"> <span class="sr-only">80% Complete</span> </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 skilltitle"><b>Angular</b></div>
          <div class="col-md-10">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">75% Complete</span> </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 skilltitle"><b>Knockout</b></div>
          <div class="col-md-10">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">75% Complete</span> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!--/.page-section-->


      <footer>

        {% if site.github.is_project_page %}

        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>

        {% endif %}

        <p><small>Hosted on GitHub Pages</p>

       <p class="crp">© Copyrights 2020 Breanna E. Green</p>

      </footer>

    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

    {% if site.google_analytics %}

    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.google_analytics }}', 'auto');

      ga('send', 'pageview');

    </script>

    {% endif %}

  </body>

</html>
